@model Duiklogboek.Models.DivelogApp.Dive

@{
    ViewBag.Title = "Delete";
    var username = User.Identity.GetUserName();
}

<h2>Delete Dive</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiveNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiveNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiveSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiveSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Buddy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buddy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weather)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weather)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visibility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { username = username })
        </div>
    }
</div>
